/* Large Mobile Breakpoint */

@media screen and (min-width: 580px) {
    .clearfix img {
        float: left;
        margin-right: 10px;
    }

    .social-networks button {
        width: 20%;
    }
}

/* Tablet Breakpoint */

@media screen and (min-width: 770px) {
    main {
        padding: 40px;
    }
    
    #topbar {
        justify-content: flex-start;
    }

    .recipe-origin {
        display: initial;
    }

    .recipe-name {
        font-size: 2em;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        & li { 
            width: calc((100% / 3) - 20px * (3 / 4));
        }
    }

    .ads {
        display: initial;
    }

    .ads img {
        margin-top: 20px;
    }
}

/* Desktop Breakpoint */

@media screen and (min-width: 990px) {
    .recipe-name {
        font-size: 3em;
    }

    .quick-notes ul {
        display: initial;
        
        & li {
            width: initial;
        }
    }

    .recipe-card {
        display: flex;
    }    

    /* maledetta thumbnail di youtube non la smetteva
    di overfloware */
    .recipe-video {
        width: 70%;
        height: inherit;
    }

    iframe {
        aspect-ratio: 16 / 9;
    }

    .recipe-info {
        width: 30%;
    }

    .social-networks .label {
        display: initial;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer address {
        text-align: left;
    }
}